header {
    height: 100vh;
}
nav {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%; !important;
}
@font-face {
    font-family: 'CollectionFree';
    src: url('/fonts/CollectionFree.otf');
}

h1{
    font-family: 'CollectionFree';
}
.jumbotron {
    height: inherit;
    text-align: center;
}
.jumbotron-fluid{
    padding-top: 20vh !important;
}
.photo_profile {
    height: 30vh;
    border-radius: 50%;
}
