@font-face {
    font-family: 'CollectionFree';
    src: url('/fonts/CollectionFree.otf');
}
@font-face {
    font-family: 'Pleasewritemeasong';
    src: url('/fonts/Pleasewritemeasong.ttf');
}
html{
    width: 100% !important;
    height: 100% !important;
}
body{
    height: 100% !important;
}
header {
    height: 100vh;


}
main{
    width: inherit;
    padding-bottom: 8em;
    display: grid !important;
}
article{
    width: 100%;
}
nav {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%; !important;
}
footer{
    background-color: #1d2124;
    color: #FFF !important;
    font-family: monospace;
}
h1, h2, h3, h4, h5 , h6 {
    -webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none;            /* Possível implementação no futuro */
}

h1{
    font-family: 'CollectionFree';
}

a{
    color: whitesmoke !important;
    font-family: 'Pleasewritemeasong' !important;
    text-transform: uppercase;
    font-weight: 200 !important;
    font-size: 20px;
}
h2 {
    font-family: 'Pleasewritemeasong' !important;
    text-transform: uppercase;
    padding: 2em 0 2em 0;
}
h3,h4,h5, h6 {
    font-family: monospace;
    text-align: center;
}
section{
    text-align: center;
}
span{
    font-size: 12px;
}
li{
    list-style: none;
}
.footer_actions{
    display: inline-grid;
}
.noselectble{
    -webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none;            /* Possível implementação no futuro */
}
.brand{
    font-family: 'CollectionFree';
}
.li-social{
    width: auto;
    padding-right: 2em;
    padding-bottom: 2em;
    background-color: transparent;
    list-style-type: none;

}
.ul-social{
    text-align: center;
    display: inline-flex;
    padding-top: 2em;
}
.jumbotron {
    height: inherit;
    text-align: center;
    padding-top: 20vh !important;
    color: white;
    background: linear-gradient(0deg,rgba(255,0,150,0.3),rgba(255,0,150,0.3)), url('https://github.com/MelisseCabral/melissecabral.github.io/blob/master/images/dev.jpg?raw=true');
    background-size: cover;
    border-radius: 0 !important;
}
.jumbotron-fluid{

}
.photo_profile {
    height: 20vh;
    border-radius: 50%;
}
.contactWtt{
    color: white;
    background-color: #1ebea5;
    border-radius: 30px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    height: 3em;
    width: 3em;
    text-align: center;
    padding-top: 0.5em;
    z-index: 99;
}
.fab{

    text-align: center;
    color: rgb(255,0,150) !important;
}

.wtt {
    width: 2em;
}
.footer-ul{
    width: 20px;
}
.infoFooter{
    text-align: center;
}
.container-fluid{
    padding-bottom: 5em;
}
.skill {
    width: 40vh;
    padding: 2em 0 2em 0;
}
.hidden{
    display: none !important;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.9) ;/*dim the background*/
    display: inline-flex;
}
.LoaderBalls {
    width: 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 45vw;
    top: 50vh;
    position: fixed;
}
.LoaderBalls__item {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(255,0,150);
}
.LoaderBalls__item:nth-child(1) {
    animation: bouncing 0.4s alternate infinite cubic-bezier(0.6, 0.05, 0.15, 0.95);
}
.LoaderBalls__item:nth-child(2) {
    animation: bouncing 0.4s 0.1s alternate infinite cubic-bezier(0.6, 0.05, 0.15, 0.95) backwards;
}
.LoaderBalls__item:nth-child(3) {
    animation: bouncing 0.4s 0.2s alternate infinite cubic-bezier(0.6, 0.05, 0.15, 0.95) backwards;
}
@keyframes bouncing {
    0% {
        transform: translate3d(0, 10px, 0) scale(1.2, 0.85);
    }
    100% {
        transform: translate3d(0, -20px, 0) scale(0.9, 1.1);
    }
}
.progress-bar{
    border-radius: 25px;
}
.progress{
    border-radius: 25px !important;
    margin: 2em 0 2em 0;
}

.skills-wrapper{
    float: left;
}
.container{
    margin-bottom: 2em;
}
.card{
    width: 18rem;
    border-radius: 20px !important;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-color: white !important;
    margin: 2em 2em 0 2em;
    float: left;
}
.btn{
    border-radius: 20px !important;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.btn-transparent{
    background-color: transparent;
    border: 1px white solid !important;
}
.subtitle-card{
    font-size: 14px !important;
}
.card-text{
    font-size: 12px;
}
.card-img{
    width: 100% !important;
    height: 100% !important;
}
.card-portfolio{

}
.title-publication{
    text-align: left;
}
.resume-article{
    text-align: left;
}
.card-group{
    width: 100%;
}
.btn-purple{
    border-color: #6c5ce7 !important;
    color: #6c5ce7 !important;
    min-width: 20%;
    float: right;
}
.purple{
    background-color: #6c5ce7 !important;
    color: whitesmoke !important;
}
.group-articles{
    display: grid !important;
}
.group-articles.card{
    max-width: 300px !important;
}
.title-article{
    text-align: left !important;
}
a:hover
{
    -webkit-transform: scale(1.06);
    -ms-transform: scale(1.06);
    transform: scale(1.06);
}
.grow:hover
{
    -webkit-transform: scale(1.06);
    -ms-transform: scale(1.06);
    transform: scale(1.06);
}
.second-text{
    font-family: 'Pleasewritemeasong';
}
#services{
    margin-top: 2em;
    padding-bottom: 2em;
    background-color: #6c5ce7 !important;

}
.container-services{
    margin-left: auto;
    margin-right: auto;
}
#publications{
    background-color: #6c5ce7 !important;
}
.box1{
    color: whitesmoke;
    min-width: 50% !important;
    max-width: 90%;
    padding: 2em;
    float: left;
}
.bigicon{
    font-size: 50px !important;
}
.describe-service{
    color: #b2bec3 !important;
}
.bottom-btn{
    margin-top: 1em;
    bottom: 20px;
}
#bio{
    margin: 2em !important;
}
.presentation-title{
    color: #6c5ce7;
}
#presentation{
    text-align: left !important;
    max-width: 70vw !important;
    float: right !important;
    margin-left: 0 !important;
}
