@font-face {
    font-family: 'CollectionFree';
    src: url('/fonts/CollectionFree.otf');
}
@font-face {
    font-family: 'Pleasewritemeasong';
    src: url('/fonts/Pleasewritemeasong.ttf');
}
header {
    height: 100vh;


}
body{
    color: white;

}
nav {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%; !important;
}

h1{
    font-family: 'CollectionFree';
}

a{
    color: whitesmoke !important;
    font-family: 'Pleasewritemeasong' !important;
    text-transform: uppercase;
    font-weight: 200 !important;
}
.jumbotron {
    height: inherit;
    text-align: center;
    padding-top: 20vh !important;
    color: white;
    background: linear-gradient(0deg,rgba(255,0,150,0.3),rgba(255,0,150,0.3)),
    url('https://github.com/MelisseCabral/melissecabral.github.io/blob/master/images/dev.jpg?raw=true');
    background-size: cover;
}
.jumbotron-fluid{

}
.photo_profile {
    height: 30vh;
    border-radius: 50%;
}
